/* Gäller några eller alla sidor*/
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

.imageBackground{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("graffiti-gbbe3d05e4_1920.jpg");
}

.titleBox {
    width: fit-content;
}

.h1Small{
    font-family: "Fredoka One";
    font-size: 25px;
    background: linear-gradient(90deg,#FF20CE 4.08%, #9E00FF 46.17%, #4AE9DF 88.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 20px;
}


/*Index.html*/

#searchBox {
    width: 80%;
    height: 60%;
    max-width: 800px; 
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h1Big{
    text-align: center;
    font-family: "Fredoka One";
    font-size: 50px;
    background: linear-gradient(90deg,#FF20CE 4.08%, #9E00FF 46.17%, #4AE9DF 88.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 20px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;   
}

    #bigInputBox {
        display: flex;
        justify-content: space-around;
    }

    .inputBox {
        margin: 0 50px;
        display: flex;
        flex-direction: column;
    }

        label{
            color: #FF20CE;
            text-align: center;
            padding: 5px;
            font-size: 14px;
            letter-spacing: 3px;
        }

        input{
            padding: 5px;
            border: none;
            width: 250px;
        }

        input:focus-visible, select:focus-visible {
            outline: none;
        }

button {
    margin-bottom: 30px;
    width: 70px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 31px 0px #FF20CE;
    border: none;
    margin: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button:hover{
    box-shadow: none;
}

/*eventAndArtist.html*/

.blackBackground {
    background-color: black;
}

#container {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}

section {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#eventInfoColumn{
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.eventInfoRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#border {
    border-right: 2px solid white;
}

span {
    width: 200px;
    height: 250px;
    border: 2px solid white;
    margin: 20px;
}

#map {
    border: 2px solid white;
    width: 300px;
    height: 200px;
    margin: 20px;
}

p, h2, h3 {
    color:white;
}

h3 {
    padding:  0 50px 0 0;
}


@media screen and (max-width: 850px) {
    #bigInputBox{
        flex-direction: column;
        align-items: center;
    }

    .inputBox {
        padding: 15px;
    }

    #searchBox {
        height: 80%;
    }
}

@media screen and (max-width: 450px){
    #searchBox {
        height: 90%;
    }
}

