/* Gäller några eller alla sidor*/
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.imageBackground{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("graffiti-gbbe3d05e4_1920.jpg");
}

.titleBox {
    width: fit-content;
}

.h1Small{
    font-family: "Fredoka One";
    font-size: 25px;
    background: linear-gradient(90deg,#FF20CE 4.08%, #9E00FF 46.17%, #10d1c4 88.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 20px;
}


/*Index.html*/

#searchBox {
    width: 80%;
    height: 60%;
    max-width: 800px; 
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h1Big{
    text-align: center;
    font-family: "Fredoka One";
    font-size: 50px;
    background: linear-gradient(90deg,#FF20CE 4.08%, #9E00FF 46.17%, #10d1c4 88.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 20px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;   
}

button {
    margin-bottom: 30px;
    width: 80px;
    padding: 7px;
    background-color:#FF20CE;
    border: none;
    margin: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

button:hover{
    border-radius: 10px;
    color:#adf6f2;
}

/*eventAndArtist.html*/

.blackBackground {
    background-color: black;
}

#container {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}

section {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#eventInfoColumn{
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.eventInfoRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#border {
    border-right: 2px solid #FF20CE;
}

span {
    width: 200px;
    height: 250px;
    border: 2px solid #9E00FF;
    margin: 30px;
}

#map {
    border: 2px solid #9E00FF;
    width: 300px;
    height: 200px;
    margin: 30px;
}

p {
    color:#adf6f2;
    font-size: 15px;
}

h2 {
    text-transform: uppercase;
    font-size: 35px;
    color:#FF20CE;
    font-family: "Fredoka One";
    padding-bottom: 20px;
}

h3 {
    padding:  10px 50px 0 0;
    text-transform: uppercase;
    color: #FF20CE;

}


@media screen and (max-width: 850px) {

    #searchBox {
        height: 80%;
    }

    #container {
        flex-direction: column;
        align-items: center;
    }

    #border {
        display:none;
    }
    section:first-of-type {
        border-bottom: 2px solid #FF20CE;
        padding-bottom: 60px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 450px){
    #searchBox {
        height: 90%;
    }
}

